
/* Estilo básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f7f7f7;
    color: #333;
}

header {
    background-color: #f8d1d1; /* Rosa claro */
    padding: 20px;
    text-align: center;
}

header .logo img {
    width: 200px; /* Ajuste o tamanho da sua logo conforme necessário */
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
    font-size: 1.2em;
}

.home-banner {
    background-color: #fff;
    text-align: center;
    padding: 50px 20px;
}

.home-banner h2 {
    font-size: 2.5em;
    color: #f8d1d1;
}

.cta-button {
    background-color: #f8d1d1;
    color: #fff;
    padding: 10px 20px;
    text-decoration: none;
    font-size: 1.2em;
    border-radius: 5px;
}

.product-gallery {
    text-align: center;
    padding: 50px 20px;
}

.product-list {
    display: flex;
    justify-content: center;
    gap: 30px;
}

.product-item {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 250px;
}

.product-item img {
    width: 100%;
    height: auto;
    border-radius: 5px;
}

.product-item h3 {
    font-size: 1.5em;
    margin: 10px 0;
}

.product-item p {
    font-size: 1.1em;
    margin: 10px 0;
}

.buy-button {
    background-color: #f8d1d1;
    border: none;
    padding: 10px;
    cursor: pointer;
    font-size: 1.1em;
    border-radius: 5px;
}

footer {
    background-color: #f8d1d1;
    text-align: center;
    padding: 20px;
}

footer a {
    color: #fff;
    font-size: 1.2em;
    text-decoration: none;
}

.whatsapp-button {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #25d366;
    color: white;
    padding: 15px;
    border-radius: 50%;
    font-size: 1.5em;
    text-align: center;
    text-decoration: none;
}

.whatsapp-button:hover {
    background-color: #128c7e;
}
